#CLAVE SECRETA DJANGO
SECRET_KEY=django-insecure-abc123
# MODO DE DEPURACION (TRUE o FALSE)
DEBUG=True
# HOSTS PERMITIDOS
ALLOWED_HOSTS= localhost, 127.0.0.1
# URL DE LA BASE DE DATOS
DATABASE_URL=mysql://user:password@localhost:3306/mydatabase
# URL DE LA BASE DE DATOS (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase
# URL DE LA BASE DE DATOS (SQLite)
DATABASE_URL=sqlite:///db.sqlite3

# CONFIGURACIÓN DE AWS S3 PARA ALMACENAMIENTO DE ARCHIVOS
# Obtén estas credenciales en tu consola de AWS IAM y S3
AWS_ACCESS_KEY_ID=tu_access_key_id_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_access_key_aqui
AWS_STORAGE_BUCKET_NAME=tu_bucket_name_aqui
AWS_S3_REGION_NAME=us-east-1

